<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../styles.css">
</head>

<body>
    <form class="container_box" action="/signup" method="post">
        <div class="input-field">
            <input id="name" Placeholder="Enter a name" type="text" autocomplete="off" name="name">
        </div>
        <div class="input-field">
            <input id="email" Placeholder="Enter a email" type="email" autocomplete="off" name="email">
        </div>
        <div class="input-field">
            <input id="password" Placeholder="Enter a password" type="password" autocomplete="off" name="password">
        </div>

        <button class="col btn waves-effect waves-light" type="submit" name="submit">Submit
            <i class="material-icons right">send</i>
        </button>
    </form>
</body>

</html>